@model ElmahViewer.Models.ErrorDetailsViewModel

@{
    var error = Model.Error;
}
<div class="controls-container">
    <h4 id="PageTitle">@error.Type</h4>
    <p id="ErrorTitle">@error.Message</p>


    @if (!string.IsNullOrWhiteSpace(error.Detail))
    {
        <pre id="ErrorDetail">@error.Detail</pre>
    }

    <p id="ErrorLogTime">@string.Format(@"Logged on {0} at {1}", error.Time.ToLongDateString(), error.Time.ToLongTimeString())</p>
</div>
@if(error.ServerVariables.Count > 0)
{
    <div id="ServerVariables">
        <table class="table table-condensed table-striped table-bordered">
            <tr ><th colspan="2">Server Variables</th></tr>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
    
            @for (int i = 0; i < error.ServerVariables.Count; i++)
            {
                <tr>
                    <td>@error.ServerVariables.GetKey(i)</td>
                    <td>@error.ServerVariables.Get(i)</td>
                </tr>
            }
        </table>
    </div>
}
