@model ElmahViewer.Models.ErrorDetailsViewModel

@{
    var error = Model.Error;
}
<div class="controls-container">
    <h4 id="PageTitle">@error.Type</h4>
    <p id="ErrorTitle">@error.Message</p>


    @if (!string.IsNullOrWhiteSpace(error.Detail))
    {
        <pre id="ErrorDetail">@error.Detail</pre>
    }

    <p id="ErrorLogTime">@string.Format(@"Logged on {0} at {1}", error.Time.ToLongDateString(), error.Time.ToLongTimeString())</p>
</div>
@Html.Partial("_DetailsTable", new { Name = "Server Variables", Collection = error.ServerVariables });
@Html.Partial("_DetailsTable", new { Name = "Form", Collection = error.Form });
@Html.Partial("_DetailsTable", new { Name = "Query String", Collection = error.QueryString });
@Html.Partial("_DetailsTable", new { Name = "Cookies", Collection = error.Cookies});

